@import '../../../../styles/variables.scss';

li.item-element {
  border-bottom: 1px solid $light_gray;
  border-radius: 2px;
  padding: 16px;
  a {    
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    font-family: $font_default;
    color: $font_color;
    font-weight: 400;
    .item-element-image {
      width: 20%;
    }
    .item-element-info-ctn {
      display: flex;
      flex-direction: column;
      width: 60%;
      font-size: 22px;
      margin-top: 16px;
    }
    .item-price-shipping-ctn {
      display: flex;
      flex-direction: row;
    }
    .item-element-price {
      width: auto;
    }
    .item-shipping {
      padding-top: 5px;
      margin-left: 8px;
      font-weight: 400;
      font-size: 14px;
      color: #00a650;
    }
    .item-element-title {
      margin-top: 24px;
    }
    .item-element-location {
      font-weight: 400;
      font-size: 14px;
      margin-top: 22px;
      width: 20%;
    }
  }
  
}
