.header-ctn{
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  color: #333;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: #fff159;
  .header-logo{
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 34px;
    top: 11px;
    width: 134px;
    left: 60px;
    background-image: url(https://http2.mlstatic.com/ui/navigation/5.1.1/mercadolibre/logo__large_plus.png);
  }
}
