@import "../../../styles/variables.scss";

header {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  min-width: $md-breakpoint;
  background-color: $main_color;
  .header-ctn{
    font-family: $font_default;
    color: $font_color;
    margin: 0 $side-spaces;
    overflow: hidden;
    width: 100%;
    display: flex;
    min-width: $md-breakpoint;
    @media (max-width:$md-breakpoint) {
      margin: 0 7%;
    }
    .header-logo{
      margin-top: 8px;
    }
  }
}

header > .container-device {
  grid-template-columns: $default_padding $logo_width repeat(9, 1fr) $default_padding;
  grid-template-rows: $logo_height;
}
