@import "../../../styles/variables.scss";

header {
  height: 50px;
  background-color: $main_color;
  padding: $default_padding;
  position: relative;
  width: 100%;
  padding: 10px 0;
  z-index: 9999;
  text-align: center;
  display: flex;
  .header-ctn{
    font-family: $font_default;
    color: $font_color;
    margin: 0 200px;
    overflow: hidden;
    width: 100%;
    display: flex;
    .header-logo{
      margin-top: 8px;
    }
  }
}

header > .container-device {
  grid-template-columns: $default_padding $logo_width repeat(9, 1fr) $default_padding;
  grid-template-rows: $logo_height;
}
