.app-error-container{
  margin: 32px 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  .app-error-icon {
    width: 90px;
    margin-top: 16px;
    margin-right: 32px;
  }
  .app-error-title {
    font-size: 26px;
    font-weight: 500;
  }
  
}