$main_color: #ffe600;
$light_gray: #eeeeee;
$light_white: #ffffff;
$font_color: #333;
$font_default: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

$default_padding: 16px;
$extend_padding: $default_padding * 2;

// HEADER VARIABLES //
$logo_real_height: 72px;
$logo_real_width: 106px;

$logo_padding_top_and_botton: 10px;
$logo_padding_right: $extend_padding;

$logo_height: 8px;
$logo_width: (($logo_height * $logo_real_width) / $logo_real_height) + $logo_padding_right;
//////////////////////
// GLOBAL VARIABLES //
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;
$side-spaces: 10%;

// FONTS

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot');
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.eot?#iefix') format('embedded-opentype'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff2') format('woff2'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.woff') format('woff'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-300.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot');
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.eot?#iefix') format('embedded-opentype'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff2') format('woff2'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.woff') format('woff'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-400.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot');
	src: url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.eot?#iefix') format('embedded-opentype'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff2') format('woff2'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.woff') format('woff'),
		url('https://http2.mlstatic.com/ui/webfonts/v4.0.0/proxima-nova/proxima-nova-600.ttf') format('truetype');
}